@import "tailwindcss";
@plugin "daisyui";

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-card: var(--font-playwrite-nz);
  --font-flag: var(--font-inter);
}
